@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Secular+One&display=swap');

@layer base {
  /* secular-one-regular - latin_hebrew */
  @font-face {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/secular-one-v5-latin_hebrew-regular.woff2') format('woff2'),
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('/fonts/secular-one-v5-latin_hebrew-regular.woff') format('woff');
  }

  /* assistant-regular - latin_hebrew */
  @font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/assistant-v6-latin_hebrew-regular.woff2') format('woff2'),
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('/fonts/assistant-v6-latin_hebrew-regular.woff') format('woff');
  }

  h1,
  h2 {
    @apply font-display;
  }
}

@layer utilities {
  .max-h-80v {
    max-height: 80vh;
  }
  .h-80v {
    height: 80vh;
  }
  .text-shadow {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
